*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.containercard{
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
background-color: rgba(245, 240, 240, 0.479);
padding-top: 1em;
padding-bottom: 2em;
border-radius: 1em;
margin-top: 2em;
}
#book-form{
    width: 80%;
}

@media only screen and (max-width: 768px) {

    .containercard{

        width: 80%;

    }
    
  }